section.about
    div.title
        div.title_rightUpBox
        span.title_about About <span>us</span>
        div.title_leftDownBox
    div.container
        div.img-wrap
            img(src="assets/images/mockup.png")
        div.about__descr
            div.about__descr_text.
                Aliquam metus neque, bibendum sit amet porta at, consequat et 
                enim. In ut turpis non ipsum rhoncus porttitor vel ac nunc. 
                Maecenas interdum dignissim lorem quis auctor. Donec sit amet 
                nulla nisl, aliquam pretium ipsum. Pellentesque sodales ipsum et 
                enim rutrum adipiscing. Quisque tincidunt mattis sapien, 
                vel posuere.
            div.button-purple Learn more