section.contact
    div.title
        div.title_rightUpBox
        span.title_about Get <span>in touch</span>
        div.title_leftDownBox
        
    div.container
        form.feedback
            input(type="text" class="feedback__item" name="name" placeholder="Your name")
            input(type="text" class="feedback__item" name="email" placeholder="Your email")
            textarea(class="feedback__item textarea" name="message" placeholder="Your message") 
            input(type="button" class="sub-btn button-purple" value="Send email")

        .contact__info
            p.addition Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
            p.bold 1600 Pennsylvania Ave NW, Washington, DC 20500, United States of America. 

            p.bold.
                T: (202) 456-1111<br>
                M: (202) 456-1212
            .links
                .links__item 
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                .links__item 
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                .links__item 
                    <i class="fa fa-google" aria-hidden="true"></i>
    .footer
        h1.contact__title Bhagas<span>kara</span>.   