section.feature
    div.container
        div.feature__item
            div.feature__item_icon
                div
                    img(src="assets/images/heart-icon.png")

            span Build with love
            p.
                Fusce facilisis velit libero, nec 
                dignissim lacus sagittis non. 
                Sed nec porta ante. Pellentesque 
                habitant morbi tristique senectus et.
        div.feature__item
            div.feature__item_icon
                div
                    img(src="assets/images/diamond-icon.png")

            span Build with love
            p.
                Fusce facilisis velit libero, nec 
                dignissim lacus sagittis non. 
                Sed nec porta ante. Pellentesque 
                habitant morbi tristique senectus et.
        
        div.feature__item
            div.feature__item_icon
                div
                    img(src="assets/images/cup-icon.png")

            span Build with love
            p.
                Fusce facilisis velit libero, nec 
                dignissim lacus sagittis non. 
                Sed nec porta ante. Pellentesque 
                habitant morbi tristique senectus et.
        
        div.feature__item
            div.feature__item_icon
                div
                    img(src="assets/images/phone-icon.png")

            span Build with love
            p.
                Fusce facilisis velit libero, nec 
                dignissim lacus sagittis non. 
                Sed nec porta ante. Pellentesque 
                habitant morbi tristique senectus et.