section.header
    div.container
        h1.header__title Bhagas<span>kara</span>.
        h3.header__subtitle Fusce rutrum pretium lorem semper nulla.
        p.
            Vestibulum ornare cursus nisl, fermentum tincidunt libero pretium et. Maecenas interdum ligula non 
            fermentum fringilla.
        div.header__menu
            ul.header__list
                li.header__list-item#about
                    div
                        img(src="assets/images/about-icon.png")
                        span About
                li.header__list-item#team
                    div
                        img(src="assets/images/team-icon.png")
                        span Team
                li.header__list-item#skills
                    div
                        img(src="assets/images/study-icon.png")
                        span Skills
                li.header__list-item#statistic
                    div
                        img(src="assets/images/blog-icon.png")
                        span Statisctic
                li.header__list-item#portfolio
                    div
                        img(src="assets/images/portfolio-icon.png")
                        span Portfolio
                
                li.header__list-item#contact
                    div
                        img(src="assets/images/paperplane.png")
                        span Contact
