nav.navigation
    div.container
        span.logo Bhagas<span>kara</span>.
        
        ul.navigation__list
            li.navigation__list_item HOME
            li.navigation__list_item ABOUT
            li.navigation__list_item TEAM
            li.navigation__list_item SERVICES
            li.navigation__list_item PORTFOLIO
            li.navigation__list_item BLOG
            li.navigation__list_item CONTACT
        .list-trigger#menu-trigger |||