section.portfolio
    .base
    div.title
        div.title_rightUpBox
        span.title_about Our <span>portfolio</span>
        div.title_leftDownBox
    div.container
        .portfolio__navigation
            .portfolio__category.active(data-cat=1) ALL
            .portfolio__category(data-cat=2) WEB
            .portfolio__category(data-cat=3) APPS
            .portfolio__category(data-cat=4) ICONS
        
        .portfolio__gallery
            .portfolio__layout
            .portfolio__item(data-cat=2)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p web
            .portfolio__item(data-cat=3)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p apps
            .portfolio__item(data-cat=4)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p icons
            .portfolio__item(data-cat=2)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p web
            .portfolio__item(data-cat=3)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p apps
            .portfolio__item(data-cat=4)
                img(src="http://via.placeholder.com/200x200")
                h3 Lorem insput 
                p icons
            
        .watch-btn.button-purple Watch more
                
                