section.quote
    .quote__preview
        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
        p We lorem and ipsum your aliquam

    video(poster="assets/videos/Riverside.jpg")
        source(src="assets/videos/Riverside.mp4" type="video/mp4")
        source(src="assets/videos/Riverside.webm" type="video/webm")