section.skills
    div.title
        div.title_rightUpBox
        span.title_about Our <span>skills</span>
        div.title_leftDownBox
    div.container
        .skills__wrapper
            .wrapper
                .skills__item
                    .skills__name WEN DESIGN
                    .skills__pers 90%

                    .skills__loader
                        .skills__loader-inner
                .skills__item
                    .skills__name GRAPHIC DESIGN
                    .skills__pers 70%

                    .skills__loader
                        .skills__loader-inner
            .wrapper
                .skills__item
                    .skills__name HTML / CSS
                    .skills__pers 75%

                    .skills__loader
                        .skills__loader-inner
                .skills__item
                    .skills__name UI / UX   
                    .skills__pers 85%

                    .skills__loader
                        .skills__loader-inner