section.statistic
    .container
        .items-wrap
            .statistic__item
                h1 363
                p Lorem ipsum
            .statistic__item
                h1 98%
                p Lorem ipsum
            .statistic__item
                h1 69
                p Lorem ipsum
            .statistic__item
                h1 1,642
                p Lorem ipsum

        
        .reviewSlider
            each val in [1,2,3]
                .reviewSlider__item
                    img(src="http://via.placeholder.com/200x200")
                    .reviewSlider__item-descr
                        p.
                            “Fusce dapibus, tellus ac cursus commodo, tortor mauris 
                            condimentum. Duis mollis, est non commodo luctus, nisi erat ”
                        span LESALE CHRiSTOPER, PINTEREST